td {
    padding: 35px;
}

tbody,td,table {
    background-image: url(upload/coming-soon.png);
}

.img-container:hover,
.img-container:active {
    filter: brightness(100%);
    transform: scale(1.2);
}

.text1 {
    height: 40px;
    width: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(5, 5, 5);
    font-weight: bold;
}

.img-decrptn {
    text-align: center;
}

.img-container {
    padding: 5px;
    align-items: center;
    height: 217px;
    border-radius: 25px;
}

.textwidget {
    margin-top: 5px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.har {
    padding-left: 41px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-top: 5px;
}